table>
  <thead>
    <th>Date</th>
    <th>主訴</th>
    <th>病歴</th>
    <th>Pulse Rate</th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td><%= @composition[''] %></td>
      <td><%= @composition[''] %></td>
      <td><%= @composition[''] %></td>
    </tr>
  </tbody>
</table>
